<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Add Goal
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    
    <form [formGroup]="goalForm">
  
  
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="name"></ion-input>      
      </ion-item>
      <ion-item color="danger" *ngIf="titleFormControl?.invalid && titleFormControl?.touched">
        <div *ngIf="titleFormControl?.errors?.['required']">Title is Required</div>
      </ion-item>
  
  
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Task Start Date</ion-label>
        <ion-input type="datetime-local" formControlName="date_of_start"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Task End Date</ion-label>
        <ion-input type="datetime-local" formControlName="date_of_end"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Status</ion-label>
        <ion-select placeholder="Select One" formControlName="status">
          <ion-select-option value="not done">Not Done</ion-select-option>
          <ion-select-option value="started">Started</ion-select-option>
          <ion-select-option value="completed">Completed</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Progress Level</ion-label>
        <ion-select placeholder="Select One" formControlName="progress_level">
          <ion-select-option value="pending">Pending</ion-select-option>
          <ion-select-option value="started">Started</ion-select-option>
          <ion-select-option value="completed">Completed</ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-button (click)="onSubmit()" [disabled]="goalForm.invalid">Submit</ion-button>
    </form>
  
  </ion-content>